.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-box {
    border:  1px solid;
    width: 500px;
}

form {
    padding: 0px 30px;
}

.main-box h1 {
    text-align: center;
}
.form-group {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 16px;
}

.form-label {
    margin-bottom: 6px;
    font-weight: 600;
    text-transform: capitalize;
}

.form-control {
    padding: 10px;
    border-radius: 4px;
    outline: none;
    border: 1px solid;
}
i {
    position: absolute;
    top: 34px;
    right: 14px;
    visibility: hidden;
}



.success {
    color: green;
}
.success i.fa-check-circle-o {
    visibility: visible;
}
.success .form-control{
    border-color: green;
}


.error {
    color: red;
    font-weight: 700;
}
small {
    visibility: hidden;
    position: absolute;
    top: 58px;
    left: 0;
    margin-top: 4px;
}
.error small {
    visibility: visible;
}

.error .fa-exclamation-circle {
    color: red;
    visibility: visible;
}

.error .form-control {
    border-color: red;
}
input[type=submit] {
    border-radius: 4px;
    padding: 9px 14px;
    outline: none;
    border: 1px solid;
    cursor: pointer;
}